<!DOCTYPE html>
<html>

<head>
  <title>Berry is Gay</title>
  <%- include('partials/imageHeader.ejs') %>
</head>

<body>
  <% if (image.type === 'video') { %>
    <video controls><source src="/api/cdn/<%- image.fileName %>"></video>
  <% } else { %>
    <img src="/api/cdn/<%- image.fileName %>"></img>
  <% } %>
</body>

</html>